
.block-title-6 {
  position: relative;
  margin-bottom: 0.5rem !important;
}



.my-lg-4 {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}
.main-logo img {
  margin-bottom: 0.1rem !important
;

}

.main-logo img, .sub-card {
  margin-top: 0.3rem !important
}
